@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.hide {
  position: absolute;
  top: -999999px;
  opacity: 0;
}

input,
textarea {
  outline: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #efefef;
}

main {
  padding: 10vh 15vw;
}
main h2 {
  font: 100 7vmax/1 "raleway";
  color: #333;
  margin-bottom: 50px;
}
main p {
  font: 1.1rem/1.3 "arial";
  color: #999;
  margin-bottom: 20px;
}
main .breadcrumb {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font: 400 0.8rem/1 "raleway";
}
main .breadcrumb li:last-child {
  font-weight: 700;
}
main .con {
  width: 100%;
  min-height: 70vh;
  position: relative;
  margin-top: 80px;
}

header {
  width: 100%;
  padding: 20px 15vw;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header h1 {
  font: 600 1.6rem/1 "orbitron";
  letter-spacing: 1px;
  color: #222;
  display: flex;
  align-items: flex-end;
}
header nav {
  display: flex;
  flex-wrap: wrap;
}
header nav #gnb {
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: flex-end;
  order: 2;
  font: 500 0.8rem/1 "orbitron";
  letter-spacing: 1px;
  color: #333;
}
header nav .sns {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  order: 1;
  margin-bottom: 20px;
  font-size: 0.8rem;
  opacity: 0.5;
}
header button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1rem;
  display: none;
}

.mobilePanel {
  width: 260px;
  height: 100vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 5;
  transition: 0.5s;
  top: 0px;
  left: -260px;
}
.mobilePanel.on {
  left: 0px;
}

@media screen and (max-width: 999px) {
  header {
    padding: 16px 10vw;
  }
  header h1 {
    font-size: 1.4rem;
  }
  header nav {
    display: none;
  }
  header button {
    display: block;
  }
}
@media screen and (max-width: 499px) {
  header h1 {
    font-size: 1.2rem;
  }
}
footer {
  width: 100%;
  padding: 100px 15vw;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer h1 {
  font: 600 1.3rem/1 "orbitron";
  color: #888;
  display: flex;
  align-items: flex-end;
}
footer article {
  display: flex;
  flex-wrap: wrap;
}
footer article ul {
  width: 100%;
  color: #777;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 0.8rem;
  margin-bottom: 20px;
}
footer article p {
  display: flex;
  width: 100%;
  color: #888;
  justify-content: flex-end;
  letter-spacing: 2px;
  font: 400 0.8rem/1 "orbitron";
}

@media screen and (max-width: 999px) {
  footer {
    padding: 80px 10vw;
  }
}
@media screen and (max-width: 499px) {
  footer {
    padding: 60px 10vw;
  }
  footer article {
    width: 100%;
    margin-top: 30px;
  }
  footer article ul {
    width: 100%;
    justify-content: flex-start;
  }
  footer article p {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
